<p id="notice"><%= notice %></p>

<h1>Listing Invoices</h1>

<table>
  <thead>
    <tr>
      <th>Rate</th>
      <th>Time sent</th>
      <th>Is paid</th>
      <th>Fiat amt</th>
      <th>Recipient</th>
      <th>Issuer</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @user.btcinvoices.each do |invoice| %>
      <tr>
        <td><%= invoice.rate %></td>
        <td><%= invoice.time_sent %></td>
        <td><%= invoice.is_paid %></td>
        <td><%= invoice.fiat_amt %></td>
        <td><%= User.find(invoice.user_id).full_name if invoice.user_id %></td>
        <td><%= User.find(invoice.issuer_id).full_name if invoice.issuer_id %></td>
        <td><%= link_to 'Show', btcinvoice_path(invoice) %></td>
        <td><%= link_to 'Edit', edit_btcinvoice_path(invoice) %></td>
        <td><%= link_to 'Destroy', btcinvoice_path(invoice), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Invoice', new_user_btcinvoice_path(@user) %>
