<%= form_for([@user, @invoice]) do |f| %>
  <% if @invoice.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@invoice.errors.count, "error") %> prohibited this invoice from being saved:</h2>

      <ul>
      <% @invoice.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :rate %><br>
    <%= f.text_field :rate %>
  </div>
  <div class="field">
    <%= f.label :time_sent %><br>
    <%= f.datetime_select :time_sent %>
  </div>
  <div class="field">
    <%= f.label :is_paid %><br>
    <%= f.check_box :is_paid %>
  </div>
  <div class="field">
    <%= f.label :fiat_amt %><br>
    <%= f.text_field :fiat_amt %>
  </div>
  <div class="field">
    <%= f.label :recipient %><br>
    <%= f.number_field :recipient %>
  </div>
  <div class="field">
    <%= f.label :sender %><br>
    <%= f.number_field :sender %>
  </div>
  <div class="field">
    <%= f.collection_select(:user_id, User.all, :id, :full_name) %>
  </div>
  <div class="field">
    <%= f.label :issuer_id %><br>
    <%= f.number_field :issuer_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
