<p id="notice"><%= notice %></p>

<h1>Listing Invoices</h1>

<table>
  <thead>
    <tr>
      <th>Rate</th>
      <th>Time sent</th>
      <th>Is paid</th>
      <th>Fiat amt</th>
      <th>Recipient</th>
      <th>Sender</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @invoices.each do |invoice| %>
      <tr>
        <td><%= invoice.rate %></td>
        <td><%= invoice.time_sent %></td>
        <td><%= invoice.is_paid %></td>
        <td><%= invoice.fiat_amt %></td>
        <td><%= invoice.recipient %></td>
        <td><%= invoice.sender %></td>
        <td><%= link_to 'Show', invoice %></td>
        <td><%= link_to 'Edit', edit_invoice_path(invoice) %></td>
        <td><%= link_to 'Destroy', invoice, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Invoice', new_invoice_path %>
