<p id="notice"><%= notice %></p>

<h1>Listing Invoices</h1>

<table>
  <thead>
    <tr>
      <th>Rate</th>
      <th>Time sent</th>
      <th>Is paid</th>
      <th>Fiat amt</th>
      <th>Recipient</th>
      <th>Sender</th>
      <th>User</th>
      <th>Issuer</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @user.invoices.each do |invoice| %>
      <tr>
        <td><%= invoice.rate %></td>
        <td><%= invoice.time_sent %></td>
        <td><%= invoice.is_paid %></td>
        <td><%= invoice.fiat_amt %></td>
        <td><%= invoice.recipient %></td>
        <td><%= invoice.sender %></td>
        <td><%= invoice.user_id %></td>
        <td><%= invoice.issuer_id %></td>
        <td><%= link_to 'Show', user_invoice_path(@user, invoice) %></td>
        <td><%= link_to 'Edit', edit_user_invoice_path(@user, invoice) %></td>
        <td><%= link_to 'Destroy', user_invoice_path(@user, invoice), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Invoice', new_user_invoice_path(@user) %>
