<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @user.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @user.last_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Birthdate:</strong>
  <%= @user.birthdate %>
</p>

<p>
  <strong>Active:</strong>
  <%= @user.active %>
</p>

<p>
  <strong>Is admin:</strong>
  <%= @user.is_admin %>
</p>

<p>
  <strong>Last sign in:</strong>
  <%= @user.last_sign_in %>
</p>

<p>
  <strong>Current session start:</strong>
  <%= @user.current_session_start %>
</p>

<p>
  <strong>Invited by:</strong>
  <%= @user.invited_by %>
</p>
<table>
  <thead>
    <tr>
      <th>Created at</th>
      <th>Rate</th>
      <th>Fiat amount</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @user.invoices.each do |invoice| %>
      <tr>
        <td><%= invoice.created_at %></td>
        <td><%= invoice.rate %></td>
        <td><%= invoice.fiat_amt %></td>
        <td><%= link_to 'Show', invoice %></td>
        <td><%= link_to 'Edit', edit_invoice_path(invoice) %></td>
        <td><%= link_to 'Destroy', invoice, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
