<%= form_for(@bitcoin_addr) do |f| %>
  <% if @bitcoin_addr.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bitcoin_addr.errors.count, "error") %> prohibited this bitcoin_addr from being saved:</h2>

      <ul>
      <% @bitcoin_addr.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :address %><br>
    <%= f.text_field :address %>
  </div>
  <div class="field">
    <%= f.label :invoice_id %><br>
    <%= f.number_field :invoice_id %>
  </div>
  <div class="field">
    <%= f.label :is_used %><br>
    <%= f.check_box :is_used %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
